<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.graduation.jasonzhu.mymoney">

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AddRecordActivity" />
        <activity android:name=".activity.EditExpenseActivity" />
        <activity android:name=".activity.EditIncomeActivity" />
        <activity android:name=".activity.EditExchangeActivity" />
        <activity android:name=".activity.AddAccountActivity" />
        <activity android:name=".activity.EditAccountActivity" />
        <activity android:name=".activity.EditCategoryActivity" />
        <activity android:name=".activity.AddCategoryActivity"></activity>
    </application>

</manifest>
